{% extends 'base.html.twig' %}

{% block title %}Hello BienController!{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset("css/filtreW3.css")}}">
	<link rel="stylesheet" type="text/css" href="{{asset("css/modal.css")}}">
{% endblock %}

{% block body %}

  <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Accueil</a></li>
          <li>Pagnet</li>
        </ol>
        <h2>Mes Réservations</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container">


      {# <div class="d-flex justify-content-end">
        
      <div class="form-group mx-2">
            <select name="profile" class="custom-select" onchange="filterSelection(this.value)" id="selectZone">
                <option selected disabled value="">Falitrer par état</option>
                <option value="all">Afficher tout</option>
                {% for etat in etats %}
                  <option value="{{etat}}">{{etat}}</option>
                {% endfor %}                
            </select>
      </div>

      <div class="form-group ">
            <select name="profile" class="custom-select" onchange="filterSelection(this.value)" id="selectZone">
                <option selected disabled value="">Falitrer par zone</option>
                <option value="all">Afficher tout</option>
                {% for zone in zones %}
                  <option value="{{zone}}">{{zone}}</option>
                {% endfor %}                
            </select>
      </div>

      </div> #}
        <div class="row">

          {% for reservation in reservations %}
            <div class="filterDiv col-lg-4  col-md-6 align-items-stretch {{reservation.bien.zone}} {{reservation.etat}}" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{{asset("images/avatars/")}}{{reservation.bien.avatar}}" class="img-fluid" alt="">

                {# <img src="{{asset("images/juma2.jpg")}}" alt="" class="img-fluid"> #}
              </div>

              <h2 class="entry-title">
                <a href="{{path("bien_show",{'id':reservation.bien.id})}}">{{reservation.bien.titre}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-location-pin"></i> <a href="blog-single.html">{{reservation.bien.zone}}</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{reservation.createAt |date("d/m/Y")}}</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{reservation.bien.description}}
                </p>
                <div class="read-more ">
                    <a><i class="icofont-clock-time icofont-flip-horizontal"></i>  {{reservation.etat}}</a>
                </div>
              </div>

            </article><!-- End blog entry -->
          </div>
          {% endfor %}
                
       </div>
    </section><!-- End Blog Section -->



            {# {% if info %} #}
      <!-- Modal HTML -->
      <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header">
              <div class="icon-box">
                <i class="material-icons">&#xE86B;</i>
                <i class="material-icons">&#xE86B;</i>
                <i class="material-icons">&#xE645;</i>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>&times;</span></button>
            </div>
            <div class="modal-body text-center">
              <h4>Attentions</h4>	
              <p>{{info}}</p>
              <button class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Modal JS File -->
      {# <script src="{{asset("js/modal.js")}}"></script> #}

      {# <div class="text-center">
      <!-- Button HTML (to Trigger Modal) -->
      <a href="#myModal" class="trigger-btn" data-toggle="modal">Click to Open Warning Modal</a>
      </div> #}
      {# {% endif %} #}
    {% endblock %}
  

{% block javascripts %}
    <script src="{{asset("js/filtreW3.js")}}"></script>
     {% if info %}
      <script src="{{asset("js/modal.js")}}"></script> 
    {% endif %}
{% endblock %}